flows_Austin-Desktop.json
[{"id":"19f6fac6b7521f1a","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"7c52880c675ab180","type":"denon-controller","name":"","host":"192.168.1.28","port":"23"},{"id":"efb8067f6dd1425a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"dark"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"938df3bdc0f574ea","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"92a070d80cb66777","type":"ui_group","name":"Default","tab":"938df3bdc0f574ea","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"982234a63900903b","type":"atvx-config","name":"Apple_TV","backend":"pyatv-cli","debug":true,"path":"C:\\Users\\afra219\\AppData\\Local\\Programs\\Python\\Python39\\Scripts","url":""},{"id":"cac907febc84e61f","type":"inject","z":"19f6fac6b7521f1a","name":"PWON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"PWON","payloadType":"str","x":650,"y":740,"wires":[["1c08fd77a97e2992"]]},{"id":"946e792fd3b9a146","type":"inject","z":"19f6fac6b7521f1a","name":"Standby","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"PWSTANDBY","payloadType":"str","x":660,"y":680,"wires":[["1c08fd77a97e2992"]]},{"id":"bd74427cd29a2de8","type":"debug","z":"19f6fac6b7521f1a","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1380,"y":160,"wires":[]},{"id":"1c08fd77a97e2992","type":"denon-out","z":"19f6fac6b7521f1a","name":"","controller":"7c52880c675ab180","unit_number":"1","output":"1","denoncommand":"","x":1270,"y":780,"wires":[]},{"id":"90c7934b383e5581","type":"inject","z":"19f6fac6b7521f1a","name":"Status","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"PW?","payloadType":"str","x":650,"y":620,"wires":[["1c08fd77a97e2992","14f3093f545faae5"]]},{"id":"2cfb7c4c601f3d3d","type":"inject","z":"19f6fac6b7521f1a","name":"SetVolume35","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MV35","payloadType":"str","x":650,"y":800,"wires":[["1c08fd77a97e2992","14f3093f545faae5"]]},{"id":"49c19a503df52a05","type":"inject","z":"19f6fac6b7521f1a","name":"SetVolume36","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MV36","payloadType":"str","x":650,"y":840,"wires":[["1c08fd77a97e2992","14f3093f545faae5"]]},{"id":"516d49ecccac80e8","type":"inject","z":"19f6fac6b7521f1a","name":"VolumeUp","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MVUP","payloadType":"str","x":640,"y":900,"wires":[["1c08fd77a97e2992","14f3093f545faae5"]]},{"id":"6a7c55d4f7acbf08","type":"inject","z":"19f6fac6b7521f1a","name":"VolumeDown","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MVDOWN","payloadType":"str","x":650,"y":940,"wires":[["1c08fd77a97e2992","14f3093f545faae5"]]},{"id":"46a5b901ccebe6e2","type":"inject","z":"19f6fac6b7521f1a","name":"GetVolume","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MV?","payloadType":"str","x":640,"y":1000,"wires":[["1c08fd77a97e2992"]]},{"id":"68df0e1454e0dd33","type":"inject","z":"19f6fac6b7521f1a","name":"Volume","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MV**","payloadType":"str","x":630,"y":1060,"wires":[["1c08fd77a97e2992"]]},{"id":"fff2f844fccde0e5","type":"tcp in","z":"19f6fac6b7521f1a","name":"","server":"client","host":"192.168.1.28","port":"23","datamode":"stream","datatype":"utf8","newline":"","topic":"denon","trim":false,"base64":false,"tls":"","x":210,"y":320,"wires":[["665cbea412f38c8f"]]},{"id":"14f3093f545faae5","type":"function","z":"19f6fac6b7521f1a","name":"function 1","func":"flow.set(\"DenonMethod\",JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":620,"wires":[[]]},{"id":"c5bc2fc1921f37b7","type":"debug","z":"19f6fac6b7521f1a","name":"Function Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1340,"y":420,"wires":[]},{"id":"a24923a48978b281","type":"function","z":"19f6fac6b7521f1a","name":"DenonSetVolumeFunction","func":"var denonMethod = flow.get(\"DenonMethod\");\n//console.log(\"Denon Method\", denonMethod);\nvar val = msg.payload;\n//console.log(\"Value\", typeof val);\nif( val.includes(\"MV\") )\n{    \n    val = val.replace(\"MV\",\"\");   \n\n    if( val.length == 3 )\n    {\n        val = val[0]+val[1]+\".\"+\"5\";\n        //console.log(val);\n    }\n\n    msg.payload = Number(JSON.parse(val));\n}\n//console.log(msg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":240,"wires":[["c7d10541e3cb776f"]]},{"id":"c7d10541e3cb776f","type":"ui_gauge","z":"19f6fac6b7521f1a","name":"","group":"92a070d80cb66777","order":3,"width":0,"height":0,"gtype":"gage","title":"Master Volume ","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1440,"y":240,"wires":[]},{"id":"3f6bdc543b336bca","type":"switch","z":"19f6fac6b7521f1a","name":"","property":"denonMethod","propertyType":"flow","rules":[{"t":"jsonata_exp","v":"($contains(payload, \"MV\") ) or $contains(payload, \"MVUP\") or \t$contains(payload, \"MVDOWN\")\t and $not($contains(payload, \"MVMAX\")) ","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":220,"wires":[["b7fef9a42c38696d"]]},{"id":"665cbea412f38c8f","type":"function","z":"19f6fac6b7521f1a","name":"function 2","func":"\nvar stringArr = msg.payload;\n//console.log(typeof stringArr);\nmsg.payload = stringArr.replace(\"\\r\",\"\");\n//console.log(msg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":220,"wires":[["3f6bdc543b336bca"]]},{"id":"b7fef9a42c38696d","type":"switch","z":"19f6fac6b7521f1a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$contains(msg.payload, \"MV\") and $not($contains(msg.payload, \"MAX\"))\t","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":220,"wires":[["a24923a48978b281"]]},{"id":"383573f26986aae9","type":"ui_slider","z":"19f6fac6b7521f1a","name":"","label":"slider","tooltip":"","group":"92a070d80cb66777","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"30","max":"38","step":"0.5","className":"","x":630,"y":420,"wires":[["111de03b116ade25"]]},{"id":"111de03b116ade25","type":"function","z":"19f6fac6b7521f1a","name":"function 3","func":"//console.log(\"Slider\",msg);\nvar val = JSON.stringify(msg.payload);\nval = val.replace(\".\",\"\");\nval = \"MV\"+val;\n//console.log(\"Value\", val);\nmsg.payload = val;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":380,"wires":[["14f3093f545faae5","1c08fd77a97e2992"]]},{"id":"5d5250d91ebc3939","type":"ui_button","z":"19f6fac6b7521f1a","name":"","group":"92a070d80cb66777","order":2,"width":0,"height":0,"passthru":false,"label":"Volume Up","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"MVUP","payloadType":"str","topic":"topic","topicType":"msg","x":650,"y":480,"wires":[["14f3093f545faae5","1c08fd77a97e2992"]]},{"id":"b24ff38e1bc61e54","type":"ui_button","z":"19f6fac6b7521f1a","name":"","group":"92a070d80cb66777","order":2,"width":0,"height":0,"passthru":false,"label":"Volume Down","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"MVDOWN","payloadType":"str","topic":"topic","topicType":"msg","x":660,"y":520,"wires":[["14f3093f545faae5","1c08fd77a97e2992"]]},{"id":"eb472ac469c38b41","type":"debug","z":"19f6fac6b7521f1a","name":"AppleTVDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":1380,"wires":[]},{"id":"384937e474baf962","type":"atvx-out","z":"19f6fac6b7521f1a","name":"AppleTVOut","atvx":"982234a63900903b","skip_deprecated":true,"x":950,"y":1520,"wires":[]},{"id":"a428b48aa5f121f8","type":"inject","z":"19f6fac6b7521f1a","name":"AppleTest","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Apple","payload":"turnOff","payloadType":"str","x":600,"y":1520,"wires":[["384937e474baf962"]]},{"id":"8cb8f335b558658c","type":"atvx-in","z":"19f6fac6b7521f1a","name":"AppleTVIn","atvx":"982234a63900903b","x":580,"y":1360,"wires":[["eb472ac469c38b41"]]}]